In [ ]:
from sql import Sql
import pandas
import pyodbc

In [10]:
def get_db_con():
    # make a connection string
    return pyodbc.connect('Trusted_Connection=yes',
                             driver='{ODBC Driver 13 for SQL Server}',
                             server='localhost',
                             database='Weather')

In [11]:
# get a connection to the database
con = get_db_con()
cursor = con.cursor()

In [12]:
# get an instance of the SQL query generator
sql = Sql()

In [13]:
# load the weather data into pandas
df = pandas.read_json('vancouverweather.json')

In [46]:
# parse out the clouds data and format to remove the dictoinary in the clouds column
# so the resulting rows are each "percent", "LinuxTime"
df_clouds = df.loc[:, 'clouds':'dt']
df_clouds['clouds'] = [v['all'] for v in df_clouds['clouds']]

In [47]:
# set up columns for sql insert
columns = ['"percent"', 'LinuxTime']
query = sql.get_insert(table_name="weather.clouds", columns=columns)

In [48]:
# loop over our clouds data frame and prep for db insert
for index, row in df_clouds.iterrows():
    values = [int(row['clouds']), str(row['dt'])]
    cursor.execute(query, values)

In [49]:
# commit the clouds insert transactions
cursor.commit()

In [20]:
# next we'll parse out the main weather stats buy slicing the main df from dt to main
# and then dropping the dt_iso column that is in between
df_main = df.loc[:, 'dt':'main']
df_main = df_main.drop('dt_iso', 1)

In [30]:
# next we'll parse out each key value that is burried in the "main" column
df_main['temp'] = [r['temp'] for r in df_main['main']]
df_main['min_temp'] = [r['temp_min'] for r in df_main['main']]
df_main['max_temp'] = [r['temp_max'] for r in df_main['main']]
df_main['pressure'] = [r['pressure'] for r in df_main['main']]
df_main['humidity'] = [r['humidity'] for r in df_main['main']]

In [32]:
# now that we've parsed out the main info, we can ditch the column
df_main = df_main.drop('main', 1)

In [43]:
# set up the column names for sql server insert
columns = ['LinuxTime', 'temp', 'min_temp', 'max_temp', 'pressure', 'humidity']
query = sql.get_insert('weather.main', columns)

In [44]:
# loop through our main records to insert to db
for index, row in df_main.iterrows():
    values = [int(row['dt']), 
              float(row['temp']), 
              float(row['min_temp']), 
              float(row['max_temp']), 
              int(row['pressure']), 
              int(row['humidity'])]
    cursor.execute(query, values)

In [45]:
cursor.commit()

In [115]:
df_weather = df.loc[:, 'dt': 'weather']
df_weather = df_weather.drop(['dt_iso', 'main', 'rain', 'snow'], 1)
df_weather2 = pandas.DataFrame(columns=['dt', 'id', 'main', 'description', 'icon'], dtype=['int', 'int', 'string', 'string', 'string'])

TypeError: data type not understood

In [113]:
for index, row in df_weather.iterrows():
    for item in row['weather']:
        df_weather2 = df_weather2.append({'dt': row['dt'],
                                          'id': item['id'],
                                          'main': item['main'],
                                          'description': item['description'],
                                          'icon': item['icon']}, 
                                         ignore_index=True)
          
        # df_weather2['dt'] = row['dt']
        # df_weather2['id'] = item['id']
        # df_weather2['main'] = item['main']
        # df_weather2['description'] = item['description']
        # df_weather2['icon'] = item['icon']

KeyboardInterrupt:

In [114]:
df_weather2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dt</th>
      <th>id</th>
      <th>main</th>
      <th>description</th>
      <th>icon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.349096e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.349096e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.349096e+09</td>
      <td>501.0</td>
      <td>Rain</td>
      <td>moderate rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.349096e+09</td>
      <td>701.0</td>
      <td>Mist</td>
      <td>mist</td>
      <td>50n</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.349186e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.349190e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1.349194e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1.349197e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1.349201e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1.349204e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1.349208e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1.349212e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1.349215e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1.349219e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10d</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.349222e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1.349226e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1.349230e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1.349233e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1.349237e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1.349240e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1.349244e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1.349248e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1.349251e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1.349255e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1.349258e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1.349262e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1.349266e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1.349269e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02n</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1.349273e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1.349284e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>02d</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>36594</th>
      <td>1.479578e+09</td>
      <td>521.0</td>
      <td>Rain</td>
      <td>proximity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36595</th>
      <td>1.479582e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10d</td>
    </tr>
    <tr>
      <th>36596</th>
      <td>1.479586e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10d</td>
    </tr>
    <tr>
      <th>36597</th>
      <td>1.479589e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>01d</td>
    </tr>
    <tr>
      <th>36598</th>
      <td>1.479593e+09</td>
      <td>521.0</td>
      <td>Rain</td>
      <td>proximity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36599</th>
      <td>1.479596e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36600</th>
      <td>1.479600e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36601</th>
      <td>1.479604e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09n</td>
    </tr>
    <tr>
      <th>36602</th>
      <td>1.479607e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>01n</td>
    </tr>
    <tr>
      <th>36603</th>
      <td>1.479611e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36604</th>
      <td>1.479614e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36605</th>
      <td>1.479618e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36606</th>
      <td>1.479622e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36607</th>
      <td>1.479625e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36608</th>
      <td>1.479629e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36609</th>
      <td>1.479632e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36610</th>
      <td>1.479636e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09n</td>
    </tr>
    <tr>
      <th>36611</th>
      <td>1.479640e+09</td>
      <td>804.0</td>
      <td>Clouds</td>
      <td>overcast clouds</td>
      <td>04n</td>
    </tr>
    <tr>
      <th>36612</th>
      <td>1.479643e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>01n</td>
    </tr>
    <tr>
      <th>36613</th>
      <td>1.479647e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>01n</td>
    </tr>
    <tr>
      <th>36614</th>
      <td>1.479650e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36615</th>
      <td>1.479654e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10n</td>
    </tr>
    <tr>
      <th>36616</th>
      <td>1.479658e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10d</td>
    </tr>
    <tr>
      <th>36617</th>
      <td>1.479661e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36618</th>
      <td>1.479665e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36619</th>
      <td>1.479668e+09</td>
      <td>800.0</td>
      <td>Clear</td>
      <td>sky is clear</td>
      <td>01d</td>
    </tr>
    <tr>
      <th>36620</th>
      <td>1.479672e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36621</th>
      <td>1.479676e+09</td>
      <td>520.0</td>
      <td>Rain</td>
      <td>light intensity shower rain</td>
      <td>09d</td>
    </tr>
    <tr>
      <th>36622</th>
      <td>1.479679e+09</td>
      <td>500.0</td>
      <td>Rain</td>
      <td>light rain</td>
      <td>10d</td>
    </tr>
    <tr>
      <th>36623</th>
      <td>1.479683e+09</td>
      <td>521.0</td>
      <td>Rain</td>
      <td>proximity shower rain</td>
      <td>09d</td>
    </tr>
  </tbody>
</table>
<p>36624 rows Ã— 5 columns</p>
</div>